.root {
  width: 52px;
  height: 52px;
  border: solid 2px black;
  border-radius: 50%;
}

.root > button {
  background: no-repeat center
    url("../../../../assets/images/icon-24-expansion.svg");
}

.root:hover,
.root:focus {
  background-color: lightgray;
  transition: 0.3s;
}
