.root {
  width: 52px;
  height: 52px;
  border: solid 2px black;
  border-radius: 50%;
}

.root img {
  width: 32px;
  height: 32px;
  outline: none;
}

.root:hover,
.root:focus {
  background-color: lightgray;
  transition: 0.3s;
}
