.root {
  width: 160px;
  height: 40px;
  border-radius: 12px;
}

.active {
  background-color: crimson;
}

.active:hover,
.active:focus {
  opacity: 0.7;
  transition: 0.3s;
}

.disabled {
  background-color: darkgray;
}
