<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="content-type" charset="utf-8" />
    <meta http-equiv="content-language" content="en" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, viewport-fit=cover"
    />
    <meta
      name="format-detection"
      content="telephone=no, email=no, address=no"
    />
    <title><%= htmlWebpackPlugin.options.meta.title %></title>
    <meta name="robots" content="noindex" />
    <style>
      #contents {
        width: 100%;
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div id="root">
      <noscript> You need to enable JavaScript to run this app. </noscript>
    </div>
  </body>
</html>
