.root {
  width: 32px;
  height: 32px;

  /* border: solid 2px black; */
  border-radius: 50%;
}

.root > button {
  background: no-repeat center url("../../../../assets/images/icon-24-back.svg");
}

.root:hover,
.root:focus {
  background-color: rgba(157, 157, 157, 0.75);
  transition: 0.3s;
}
