.root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: inherit;
  text-align: inherit;
  cursor: pointer;
  background-color: inherit;
  border: none;
  border-radius: inherit;
  outline: none;
}

.root:hover,
.root:focus {
  color: inherit;
  background-color: inherit;
  border: none;
}

.root:disabled {
  cursor: no-drop;
}
